body {
    font-family: Roboto;
    background: #070c3b !important;
}

h1 {
    background: #e46e0a;
    color: white;
    padding: 10px 100px;
    text-transform: uppercase;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 95%;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    font-size: 15px !important;
}

#calculator {
    background: #fff;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

p {
    margin: 0 !important;
}

.section {
    margin-bottom: 25px;
}

input {
    padding-left: 20px;
    border: none;
    border-bottom: 1px solid #000000;
}

#billamt {
    font-size: 14px;
    background-color: #f7f7f7;
    width: 90%;
    display: inline;
    padding: 5px 5px 8px 8px;
}

#billamt:focus {
    background: #fff;
    border: 3px solid #08141d;
    outline: none;
}

#peopleamt {
    font-size: 14px;
    background-color: #f7f7f7;
    width: 90%;
    display: inline;
    padding: 5px 5px 8px 8px;
}

.dollarSign {
    display: inline;
}

#serviceQual {
    border: none;
    border-bottom: 1px solid #000000;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: #14dfce;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
}

button:hover {
    background: #14dceb;
    border-bottom-color: #111;
}

button:active {
    position: relative;
    top: 1px;
}

#totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

#totalTip:before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#totalTip sup {
    font-size: 20px;
    top: -18px;
}

#totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
}